# [DataFrame 살펴보기]
* 데이터를 테이블(표) 형태로 저장하는 자료구조
* 구성 : 행 + 열
* 생성 : pandas.Dataframe() 생성자 메서드.

(1) Load Module---------------------------------------------------

In [129]:
from pandas import DataFrame

(2) preparing data-------------------------------------

In [130]:
data = [[11,22,33],[44,55,66]]

(3) save as DataFrame(creating DataFrame Object)-----------------------------------

In [131]:
df1 = DataFrame(data)
df1

    0   1   2
0  11  22  33
1  44  55  66

(4)reading conditions of DataFrame -> objectVariable.condition

In [132]:
df1.index

RangeIndex(start=0, stop=2, step=1)

In [133]:
df1.columns

RangeIndex(start=0, stop=3, step=1)

In [134]:
df1.values

array([[11, 22, 33],
       [44, 55, 66]], dtype=int64)

In [135]:
df1.shape#(row, column)형, 데이터가 저장된 표 형태

(2, 3)

In [136]:
#데이터의 차원정보: n-dimention
df1.ndim

2

In [137]:
df1.dtypes

0    int64
1    int64
2    int64
dtype: object

In [138]:
df1.dtypes

0    int64
1    int64
2    int64
dtype: object

(5)원소 읽기--->행과 열 지정=> 1개 원소---------------------------------------------------------------

-열(column)읽기: 객체변수명(indexnumber)

In [139]:
df1[0]

0    11
1    44
Name: 0, dtype: int64

change columns

In [140]:
df1.columns = ['A','B','C']
df1

    A   B   C
0  11  22  33
1  44  55  66

In [141]:
df1.A

0    11
1    44
Name: A, dtype: int64

#df1.columns = [0] #ERROR, Columns에서는 적용할 수 없음

In [142]:
#df1.0 #Column Lable을 바꿨을 때에는 번호(정수) 레이블은 호출할 수 없음

- row(행) 읽기 :

* 위치 인덱스로 읽기: 객체변수명.iloc[index]
* lable인덱스로 읽기: 객체변수명.loc[index]

In [143]:
df1.index = ['one', 'two', 'three']

ValueError: Length mismatch: Expected axis has 2 elements, new values have 3 elements

In [ ]:
df1

In [ ]:
df1.loc['one' ]

In [ ]:
df1.iloc[0]

(6) 모든 원소를 한 번에 한 개씩만 출력하기

*객체변수명.iloc[행 인덱스, 열 인덱스]/객체변수명.loc[행레이블, 열인덱스/열레이블]

In [ ]:
df1.iloc[0,0], df1.iloc[0,2], df1.iloc[1,0], df1.iloc[1,2]

In [ ]:
#컬럼 이름 변경 = 객체변수명.columns = new colomn name
df1.columns = ['A', 'B', 'C']
df1

In [ ]:
df1. loc['one','B'], df1.loc['two','C']

In [ ]:
df1.iloc[0,1], df1.iloc[1,2]

In [ ]:
zero = df1.iloc[0]
zero

In [ ]:
b = df1['B']
b

In [ ]:
df1.index, df1.columns

In [ ]:
df1.shape  #얘 어떻게 생김? 몇 열 몇 행임?

- iloc를 이용한 모든 원소 출력-> 행, 열의 번호

In [ ]:
for row in range(df1.shape[0]):
    print(row)
    for col in range(df1.shape[1]):
        print(row, col, df1.iloc[row,col])

- loc를 활용한 모든 원소 출력-> 행 레이블, 열 레이블(이름)

In [ ]:
df1.index,df1.columns

In [ ]:
for row in df1.index:
    print(row)
    for col in df1.columns:
        print('----', col, df1.loc[row,col])

###[문제] one, three 행 선택 후 저장

In [ ]:
one= df1.index[1]
one

In [ ]:
dataFrame13 = df1.loc[['one',['three']]