#### [ 6장 코딩 챌린지 ]

(1) 판다스 불러오기

In [1]:
import pandas as pd
import numpy as np

# [문제] 고객 데이터셋의 주소(Address)열에서 도로, 시, 주, 우편번호 값을 분리하고 각각 Street, City, State, Zip이라는 새로운 열에 할당한 다음
#        기존의 Address 열 삭제하기

In [3]:
customers = pd.read_csv('../DATA/customers.csv')

Address 열에서 도로, 시, 주, 우편번호 값 분리하기

In [7]:
customers['Address'].str.split(', ')

0       [6461 Quinn Groves, East Matthew, New Hampshir...
1       [1360 Tracey Ports Apt. 419, Kyleport, Vermont...
2       [19120 Fleming Manors, Prestonstad, Montana, 2...
3          [441 Olivia Creek, Jimmymouth, Georgia, 82991]
4       [4246 Chelsey Ford Apt. 310, Karamouth, Utah, ...
                              ...
9956    [762 Andrew Views Apt. 254, North Paul, New Me...
9957    [44188 Day Crest Apt. 901, Lake Marcia, Maine,...
9958    [73015 Michelle Squares, Watsonville, West Vir...
9959       [129 Keith Greens, Haleyfurt, Oklahoma, 98916]
9960    [355 Griffin Valley, Davidtown, New Mexico, 17...
Name: Address, Length: 9961, dtype: object

Address 열을 4개의 column으로 분리하기

In [9]:
customers['Address'].str.split(', ', expand = True)

                               0             1              2      3
0              6461 Quinn Groves  East Matthew  New Hampshire  16656
1     1360 Tracey Ports Apt. 419      Kyleport        Vermont  31924
2           19120 Fleming Manors   Prestonstad        Montana  23495
3               441 Olivia Creek    Jimmymouth        Georgia  82991
4     4246 Chelsey Ford Apt. 310     Karamouth           Utah  76252
...                          ...           ...            ...    ...
9956   762 Andrew Views Apt. 254    North Paul     New Mexico  28889
9957    44188 Day Crest Apt. 901   Lake Marcia          Maine  37378
9958      73015 Michelle Squares   Watsonville  West Virginia  03933
9959            129 Keith Greens     Haleyfurt       Oklahoma  98916
9960          355 Griffin Valley     Davidtown     New Mexico  17581

[9961 rows x 4 columns]

분리한 Address 열의 각 column에 이름 할당하기

In [10]:
newColumns = ['Street', 'City', 'State', 'Zip']

In [18]:
customers[newColumns] = customers["Address"].str.split(', ', expand = True)

In [19]:
customers.drop(labels = ['Address'], axis = 'columns')

,Name,Street,City,State,Zip
0,Frank Manning,6461 Quinn Groves,East Matthew,New Hampshire,16656
1,Elizabeth Johnson,1360 Tracey Ports Apt. 419,Kyleport,Vermont,31924
2,Donald Stephens,19120 Fleming Manors,Prestonstad,Montana,23495
3,Michael Vincent III,441 Olivia Creek,Jimmymouth,Georgia,82991
4,Jasmine Zamora,4246 Chelsey Ford Apt. 310,Karamouth,Utah,76252
...,...,...,...,...,...
9956,Dana Browning,762 Andrew Views Apt. 254,North Paul,New Mexico,28889
9957,Amanda Anderson,44188 Day Crest Apt. 901,Lake Marcia,Maine,37378
9958,Eric Davis,73015 Michelle Squares,Watsonville,West Virginia,03933
9959,Taylor Hernandez,129 Keith Greens,Haleyfurt,Oklahoma,98916
9960,Sherry Nicholson,355 Griffin Valley,Davidtown,New Mexico,17581