### [ 2장 시리즈 객체 코딩챌린지 ]

In [1]:
import pandas as pd

(1). Data

In [2]:
superheroes = ["Batman", "Superman", "Spider-Man", "Iron Man", "Captain America", "Wonder Woman"]
strength_levels = (100, 120, 90, 95, 110, 120)

(1): superhero 리스트를 사용하여 새 시리즈 객체 값 채우기

In [6]:
superSr = pd. Series(superheroes)

(2) strength_levels 리스트를 사용하여 새 시리즈 객체 값 채우기

In [19]:
strengthSr = pd.Series(strength_levels)

(3) Superheroes를 인덱스레이블, strength_levels를 값으로 사용하여 시리즈를 생성하시오. heroes 변수에 series 할당하기/

In [23]:
heroes= pd.Series(strength_levels, superheroes)

In [24]:
heroes

Batman             100
Superman           120
Spider-Man          90
Iron Man            95
Captain America    110
Wonder Woman       120
dtype: int64

(4) heroes series의 처음 2개 행 추출하기

In [32]:
heroes.head(2)

Batman      100
Superman    120
dtype: int64

(5) heroes series의 마지막 4개 행 추출하기

In [33]:
heroes.tail(4)

Spider-Man          90
Iron Man            95
Captain America    110
Wonder Woman       120
dtype: int64

(6) heroes Series에 있는 고유한 값의 개수 구하기

In [48]:
heroes.nunique()

5

(7) heroes의 능력치 평균 구하기b

In [37]:
strengthSr.mean()

105.83333333333333

(8)최대/최소 능력치 구하기

In [41]:
maximum = strengthSr.max()
minimum = strengthSr.min()
maximum , minimum

(120, 90)

(9) 능력치가 2배가 되면 각 슈퍼히어로의 능력치는 얼마인지 구하기

In [57]:
a = [strengthSr.mul(2)]
multiple = [[a, superSr]]
multiple

[[[0    200
   1    240
   2    180
   3    190
   4    220
   5    240
   dtype: int64],
  0             Batman
  1           Superman
  2         Spider-Man
  3           Iron Man
  4    Captain America
  5       Wonder Woman
  dtype: object]]

(10) heroes Series를 파이썬 딕셔너리로 변환하기

In [58]:
dict(heroes)

{'Batman': 100,
 'Superman': 120,
 'Spider-Man': 90,
 'Iron Man': 95,
 'Captain America': 110,
 'Wonder Woman': 120}

### [4장 코딩챌린지] <hv>

(1) nfl. csv 파일을 가져오려면? Birthday 열의 값을 날짜/시간으로 변환하는 효과적인 방법은?

In [70]:
#nfl.csv 가져오기
pd.read_csv("../DATA/nfl.csv")
nfl = pd.read_csv("../DATA/nfl.csv")

In [67]:
#Birthday 열의 값 날짜/시간으로 변환하는 법
pd.read_csv("../DATA/nfl.csv",parse_dates = ["Birthday"])

                    Name                  Team Position   Birthday   Salary
0           Tremon Smith   Philadelphia Eagles       RB 1996-07-20   570000
1         Shawn Williams    Cincinnati Bengals       SS 1991-05-13  3500000
2            Adam Butler  New England Patriots       DT 1994-04-12   645000
3            Derek Wolfe        Denver Broncos       DE 1990-02-24  8000000
4              Jake Ryan  Jacksonville Jaguars      OLB 1992-02-27  1000000
...                  ...                   ...      ...        ...      ...
1650    Bashaud Breeland    Kansas City Chiefs       CB 1992-01-30   805000
1651         Craig James   Philadelphia Eagles       CB 1996-04-29   570000
1652  Jonotthan Harrison         New York Jets        C 1991-08-25  1500000
1653         Chuma Edoga         New York Jets       OT 1997-05-25   495000
1654        Tajae Sharpe      Tennessee Titans       WR 1994-12-23  2025000

[1655 rows x 5 columns]

(2). 선수의 이름을 DataFrame 인덱스로 지정하는 두 가지 방법은?

In [71]:
#방법 1
nfl = nfl.set_index("Name")

In [73]:
#방법 2
nfl = pd.read_csv("nfl.csv", index_col = "Name", parse_dates = ["Birthday"])

FileNotFoundError: [Errno 2] No such file or directory: 'nfl.csv'

(3) 이 데이터셋에서 팀당 선수가 몇 명인지 계산하는 방법은?

In [74]:
nfl.Team.value_counts().head()

Team
New York Jets          58
Kansas City Chiefs     56
Washington Redskins    56
New Orleans Saints     55
San Francisco 49Ers    55
Name: count, dtype: int64

(4) 가장 높은 연봉을 받는 선수 5명은?

In [75]:
nfl.sort_values("Salary").head

<bound method NDFrame.head of                                   Team Position    Birthday    Salary
Name
Tyrone Swoopes        Seattle Seahawks       TE  11/14/1994    378000
Holton Hill          Minnesota Vikings       CB   3/28/1997    435882
Alex Redmond        Cincinnati Bengals        G   1/18/1995    493236
Devin Singletary         Buffalo Bills       RB    9/3/1997    495000
Elgton Jenkins       Green Bay Packers        G  12/26/1995    495000
...                                ...      ...         ...       ...
Jimmy Garoppolo    San Francisco 49Ers       QB   11/2/1991  17200000
Derek Carr             Oakland Raiders       QB   3/28/1991  19900000
Jameis Winston    Tampa Bay Buccaneers       QB    1/6/1994  20922000
Marcus Mariota        Tennessee Titans       QB  10/30/1993  20922000
Kirk Cousins         Minnesota Vikings       QB   8/19/1988  27500000

[1655 rows x 4 columns]>

(5) 데이터셋에서 먼저 팀을 알파벳 순서로 정렬한 다음 연봉을 내림차순으로 정렬하려면?

In [76]:
nfl.sort_values(by = ["Team", "Salary"],ascending = [True, False])

                                   Team Position    Birthday    Salary
Name
Chandler Jones        Arizona Cardinals      OLB   2/27/1990  16500000
Patrick Peterson      Arizona Cardinals       CB   7/11/1990  11000000
Larry Fitzgerald      Arizona Cardinals       WR   8/31/1983  11000000
David Johnson         Arizona Cardinals       RB  12/16/1991   5700000
Justin Pugh           Arizona Cardinals        G   8/15/1990   5000000
...                                 ...      ...         ...       ...
Ross Pierschbacher  Washington Redskins        C    5/5/1995    495000
Kelvin Harmon       Washington Redskins       WR  12/15/1996    495000
Wes Martin          Washington Redskins        G    5/9/1996    495000
Jimmy Moreland      Washington Redskins       CB   8/26/1995    495000
Jeremy Reaves       Washington Redskins       SS   8/29/1996    495000

[1655 rows x 4 columns]

(6) New York Jets 팀에서 가장 나이가 많은 선수와 그의 생일은?

In [77]:
nfl = nfl.reset_index().set_index(keys = "Team")
nfl.head(3)

                                Name Position   Birthday   Salary
Team
Philadelphia Eagles     Tremon Smith       RB  7/20/1996   570000
Cincinnati Bengals    Shawn Williams       SS  5/13/1991  3500000
New England Patriots     Adam Butler       DT  4/12/1994   645000

In [79]:
nfl.loc["New York Jets"].head()

                           Name Position    Birthday   Salary
Team
New York Jets   Bronson Kaufusi       DE    7/6/1991   645000
New York Jets    Darryl Roberts       CB  11/26/1990  1000000
New York Jets     Jordan Willis       DE    5/2/1995   754750
New York Jets  Quinnen Williams       DE  12/21/1997   495000
New York Jets        Sam Ficken        K  12/14/1992   495000

In [80]:
nfl.loc["New York Jets"].sort_values("Birthday").head(1)

                           Name Position  Birthday   Salary
Team
New York Jets  Trumaine Johnson       CB  1/1/1990  8000000