## [DataFrame 인덱스 다루기]

- (1) 새로운 인덱스 설정: 컬럼->인덱스 설정

(1): 모듈 로딩<hr>

In [3]:
import pandas as pd

(2): 데이터 준비

In [4]:
#dict 타입의 데이터 준비
exam = {'이름':['김박복병벽','콸콸이','휴지','뢴트게늄'],
       '국어':[98,79,99,100],
       '미술':[100,55,11,25],
       '과학':[77,99,44,55],
       '수학':[88,77,99,56]}

(3) 데이터 저장

In [6]:
examDF = pd.DataFrame(exam)

(4) 데이터 확인

In [7]:
examDF

      이름   국어   미술  과학  수학
0  김박복병벽   98  100  77  88
1    콸콸이   79   55  99  77
2     휴지   99   11  44  99
3   뢴트게늄  100   25  55  56

(5) 새로운 인덱스 설정: 1. 인덱스 일부 변경

 - DataFrame객체.rename(index = {기존인덱스: 새 인덱스, ....},inplace) *inplace: 원본데이터 적용여부(기본: 적용안함)
 - DataFrame객체.rename(columns={기존컬럼: 새 컬럼, ...},inplace)

In [10]:
#행 인덱스 일부 변경
#inplace paramenter : 원본 데이터프레임 변경 여부 결정: 기본-변경안함(False)
examDF.rename(index = {0:'김'}, inplace = True)

In [11]:
examDF

      이름   국어   미술  과학  수학
김  김박복병벽   98  100  77  88
1    콸콸이   79   55  99  77
2     휴지   99   11  44  99
3   뢴트게늄  100   25  55  56

In [12]:
#열 이름 인덱스 일부 변경
examDF.rename(columns={'미술':'음악'}, inplace = True)

      이름   국어   음악  과학  수학
김  김박복병벽   98  100  77  88
1    콸콸이   79   55  99  77
2     휴지   99   11  44  99
3   뢴트게늄  100   25  55  56

(5) 새로운 인덱스 설정 방법: 2. 특정 컬럼 변경 - 인덱스: DF.set_index()
        (유니크한 값을 가지고 뽑아야 함,.

In [18]:
#1개 컬럼을 인덱스로 설정: inplace parameter = False->원본 적용 안 됨
examDF2 = examDF.set_index('이름')

        국어   미술  과학  수학
이름
김박복병벽   98  100  77  88
콸콸이     79   55  99  77
휴지      99   11  44  99
뢴트게늄   100   25  55  56

In [ ]:
examDF.loc['뢴트게늄']

In [20]:
#2개의 컬럼을 행 인덱스로 설정: inplace parameter = False: 원본 적용 안 됨
examDF3 = examDF.set_index(['이름', '국어'])
examDF3.index

MultiIndex([('김박복병벽',  98),
            (  '콸콸이',  79),
            (   '휴지',  99),
            ( '뢴트게늄', 100)],
           names=['이름', '국어'])

In [ ]:
examDF3.loc['뢴트게늄'] #value부터 끊어서 서치는 안 됨

- (5) 새로운 인덱스 설정 방법: 3.

In [27]:
examDF.set_index('이름',inplace = True)

In [28]:
#현재 행 인덱스를 컬럼으로 추가시킴
examDF.reset_index()

      이름   국어   미술  과학  수학
0  김박복병벽   98  100  77  88
1    콸콸이   79   55  99  77
2     휴지   99   11  44  99
3   뢴트게늄  100   25  55  56

In [31]:
df2 = examDF.reset_index(drop = True) #현재 행 인덱스를 컬럼에 추가하지 않고 삭제
df2

    국어   미술  과학  수학
0   98  100  77  88
1   79   55  99  77
2   99   11  44  99
3  100   25  55  56