## [DataFrame 인덱스 다루기]

- (1) 새로운 인덱스 설정: 컬럼->인덱스 설정

(1): 모듈 로딩<hr>

In [62]:
import pandas as pd

(2): 데이터 준비

In [63]:
#dict 타입의 데이터 준비
import pandas as pd
exam = {'이름' : [ '마징가', '배트맨', '홍길동','임꺽정'],
'국어' : [ 98, 79, 99, 100],
'미술' : [ 70, 99, 87, 80],
'수학' : [ 77, 70, 98, 72],
'체육' : [ 77, 93, 69, 91]}

(3) 데이터 저장

In [64]:
examDF = pd.DataFrame(exam)

(4) 데이터 확인

In [65]:
examDF

    이름   국어  미술  수학  체육
0  마징가   98  70  77  77
1  배트맨   79  99  70  93
2  홍길동   99  87  98  69
3  임꺽정  100  80  72  91

- 행 데이터 추가

In [66]:
examDF=pd.DataFrame(exam)
examDF.loc[4]=['마징가',98,50,60,77]

In [67]:
examDF.loc[5]=['마징가', 98,87,70,91]

In [68]:
examDF

    이름   국어  미술  수학  체육
0  마징가   98  70  77  77
1  배트맨   79  99  70  93
2  홍길동   99  87  98  69
3  임꺽정  100  80  72  91
4  마징가   98  50  60  77
5  마징가   98  87  70  91

In [69]:
examDF1.loc[('마징가',98,77)]

AttributeError: 'Index' object has no attribute 'loc'

(5) 새로운 인덱스 설정: 1. 인덱스 일부 변경

 - DataFrame객체.rename(index = {기존인덱스: 새 인덱스, ....},inplace) *inplace: 원본데이터 적용여부(기본: 적용안함)
 - DataFrame객체.rename(columns={기존컬럼: 새 컬럼, ...},inplace)

In [ ]:
#행 인덱스 일부 변경
#inplace paramenter : 원본 데이터프레임 변경 여부 결정: 기본-변경안함(False)
examDF.rename(index = {0:'김'}, inplace = True)

In [ ]:
#이름, 국어, 수학 인덱스 설정
examDF.set_index(['이름','국어','수학'])

In [ ]:
#인덱스 속성 확인
examDF.index

In [ ]:
#열 이름 인덱스 일부 변경
examDF.rename(columns={'미술':'음악'}, inplace = True)

 - 멀티인덱스의 인덱스의 일부분을 기준으로 행 선택하기: xs
 - ex) '마징가' 98 77 -> level 0 1 2

In [ ]:
examDF.xs(11,level=2)

(5) 새로운 인덱스 설정 방법: 2. 특정 컬럼 변경 - 인덱스: DF.set_index()
        (유니크한 값을 가지고 뽑아야 함,.

In [ ]:
#1개 컬럼을 인덱스로 설정: inplace parameter = False->원본 적용 안 됨
examDF2 = examDF.set_index('이름')

In [ ]:
examDF.loc['뢴트게늄']

In [ ]:
#2개의 컬럼을 행 인덱스로 설정: inplace parameter = False: 원본 적용 안 됨
examDF3 = examDF.set_index(['이름', '국어'])
examDF3.index

In [ ]:
examDF3.loc['뢴트게늄'] #value부터 끊어서 서치는 안 됨

- (5) 새로운 인덱스 설정 방법: 3.

In [ ]:
examDF.set_index('이름',inplace = True)

In [ ]:
#현재 행 인덱스를 컬럼으로 추가시킴
examDF.reset_index()

In [ ]:
df2 = examDF.reset_index(drop = True) #현재 행 인덱스를 컬럼에 추가하지 않고 삭제
df2

-('마징가',98,77), ('임꺽정',100,72)행 한번에 출력하

- (5) 인덱스 재배치: 행/열 인덱스를 원하는 순서대로 재배치 + 존재하지 않는 행/열 추가
      - DF.reindex()

In [74]:
print(examDF.index, examDF.columns, sep='\n\n')

Index([0, 1, 2, 3, 4, 5], dtype='int64')

Index(['이름', '국어', '미술', '수학', '체육'], dtype='object')

- 컬럼명 순서 변경: 체육-미술-국어-수학

In [80]:
examDF.reindex([0,2,4,1,3,5], axis = 'index',fill_value=0)

    이름   국어  미술  수학  체육
0  마징가   98  70  77  77
2  홍길동   99  87  98  69
4  마징가   98  50  60  77
1  배트맨   79  99  70  93
3  임꺽정  100  80  72  91
5  마징가   98  87  70  91

- 컬럼명 순서 변경-> 체육, 미술. 국어, 수학, 총합+ 행인덱스= 0,2,4,1,3,5 재배치

In [83]:
examDF.reindex(index=[0,2,4,1,3,5], columns=['체육','미술', '국어','수학','총합'])

   체육  미술   국어  수학  총합
0  77  70   98  77 NaN
2  69  87   99  98 NaN
4  77  50   98  60 NaN
1  93  99   79  70 NaN
3  91  80  100  72 NaN
5  91  87   98  70 NaN