## [Series Data Operation]

- (1). Load Module

In [2]:
import pandas as pd
import numpy as np

- (2). Prepare Data

In [3]:
data = [5, 7, np.nan, 9, 11]

- (3). Save Data: 1차원 데이터로 Series에 저장

In [4]:
sr = pd.Series(data)

- (4) Check Data

In [5]:
sr.index, sr.shape, sr.ndim, sr.dtype

(RangeIndex(start=0, stop=5, step=1), (5,), 1, dtype('float64'))

In [6]:
sr.values

array([ 5.,  7., nan,  9., 11.])

(5) 연산 수행: Series 객체  -  연산자 - 숫자

In [7]:
sr + 5

0    10.0
1    12.0
2     NaN
3    14.0
4    16.0
dtype: float64

In [8]:
sr - 5

0    0.0
1    2.0
2    NaN
3    4.0
4    6.0
dtype: float64

In [9]:
sr * 5

0    25.0
1    35.0
2     NaN
3    45.0
4    55.0
dtype: float64

In [10]:
sr / 5

0    1.0
1    1.4
2    NaN
3    1.8
4    2.2
dtype: float64

In [11]:
sr // 5

0    1.0
1    1.0
2    NaN
3    1.0
4    2.0
dtype: float64

In [12]:
sr%5

0    0.0
1    2.0
2    NaN
3    4.0
4    1.0
dtype: float64

In [13]:
sr > 5

0    False
1     True
2    False
3     True
4     True
dtype: bool

In [20]:
sr<10

0     True
1     True
2    False
3     True
4    False
dtype: bool

- 논리 연산=> &: and연산, |: or 연산, ~: not 연산

In [21]:
(sr>5) & (sr<10)

0    False
1     True
2    False
3     True
4    False
dtype: bool

In [22]:
(sr>5)|(sr<10)

0     True
1     True
2    False
3     True
4     True
dtype: bool

In [24]:
print(~(sr>5), sr>5, sep='\n\n')

0     True
1    False
2     True
3    False
4    False
dtype: bool

0    False
1     True
2    False
3     True
4     True
dtype: bool

- (5) 연산 수행: Series object + Series object

In [26]:
data2 = [2,4,6,8,9]

sr2 = pd.Series(data2)

In [27]:
sr+sr2

0     7.0
1    11.0
2     NaN
3    17.0
4    20.0
dtype: float64

In [28]:
print(sr+sr2, sr-sr2, sr*sr2, sr/sr2, sep="\n\n")

0     7.0
1    11.0
2     NaN
3    17.0
4    20.0
dtype: float64

0    3.0
1    3.0
2    NaN
3    1.0
4    2.0
dtype: float64

0    10.0
1    28.0
2     NaN
3    72.0
4    99.0
dtype: float64

0    2.500000
1    1.750000
2         NaN
3    1.125000
4    1.222222
dtype: float64

In [29]:
print(sr>sr2, sr<sr2, sep='\n\n')

0     True
1     True
2    False
3     True
4     True
dtype: bool

0    False
1    False
2    False
3    False
4    False
dtype: bool

In [30]:
sr2.index=[2,3,4,5,6]
sr2

2    2
3    4
4    6
5    8
6    9
dtype: int64

In [31]:
print(sr+sr2, sr-sr2, sr*sr2, sr/sr2, sep="\n\n")

0     NaN
1     NaN
2     NaN
3    13.0
4    17.0
5     NaN
6     NaN
dtype: float64

0    NaN
1    NaN
2    NaN
3    5.0
4    5.0
5    NaN
6    NaN
dtype: float64

0     NaN
1     NaN
2     NaN
3    36.0
4    66.0
5     NaN
6     NaN
dtype: float64

0         NaN
1         NaN
2         NaN
3    2.250000
4    1.833333
5         NaN
6         NaN
dtype: float64

In [35]:
print(sr2.reset_index,sr2.reset_index(drop=True),sep='\n\n')

<bound method Series.reset_index of 2    2
3    4
4    6
5    8
6    9
dtype: int64>

0    2
1    4
2    6
3    8
4    9
dtype: int64

- (5) Series 연산 수행 전용 메서드

In [39]:
print(sr.add(5), sr.add(5,fill_value=0,), sep='\n\n')

0    10.0
1    12.0
2     NaN
3    14.0
4    16.0
dtype: float64

0    10.0
1    12.0
2     5.0
3    14.0
4    16.0
dtype: float64

In [40]:
print(sr.sub(5), sr.sub(5,fill_value=0,), sep='\n\n')

0    0.0
1    2.0
2    NaN
3    4.0
4    6.0
dtype: float64

0    0.0
1    2.0
2   -5.0
3    4.0
4    6.0
dtype: float64

In [42]:
addSR=sr.add(sr2,fill_value=0)
subSR=sr.sub(sr2,fill_value=0)
mulSR=sr.mul(sr2,fill_value=0)
divSR=sr.div(sr2,fill_value=0)

In [43]:
addSR, subSR, mulSR, divSR

(0     5.0
 1     7.0
 2     2.0
 3    13.0
 4    17.0
 5     8.0
 6     9.0
 dtype: float64,
 0    5.0
 1    7.0
 2   -2.0
 3    5.0
 4    5.0
 5   -8.0
 6   -9.0
 dtype: float64,
 0     0.0
 1     0.0
 2     0.0
 3    36.0
 4    66.0
 5     0.0
 6     0.0
 dtype: float64,
 0         inf
 1         inf
 2    0.000000
 3    2.250000
 4    1.833333
 5    0.000000
 6    0.000000
 dtype: float64)

- (6) DataFrame 연산 수행

In [46]:
df= pd.DataFrame([addSR, subSR, mulSR, divSR], index= ['add', 'sub', 'mul', 'div'])

In [47]:
df

       0    1    2      3          4    5    6
add  5.0  7.0  2.0  13.00  17.000000  8.0  9.0
sub  5.0  7.0 -2.0   5.00   5.000000 -8.0 -9.0
mul  0.0  0.0  0.0  36.00  66.000000  0.0  0.0
div  inf  inf  0.0   2.25   1.833333  0.0  0.0

- DataFrame과 숫자 연산 수행

In [48]:
print(df+5, df-5, sep="\n\n")

        0     1    2      3          4     5     6
add  10.0  12.0  7.0  18.00  22.000000  13.0  14.0
sub  10.0  12.0  3.0  10.00  10.000000  -3.0  -4.0
mul   5.0   5.0  5.0  41.00  71.000000   5.0   5.0
div   inf   inf  5.0   7.25   6.833333   5.0   5.0

       0    1    2      3          4     5     6
add  0.0  2.0 -3.0   8.00  12.000000   3.0   4.0
sub  0.0  2.0 -7.0   0.00   0.000000 -13.0 -14.0
mul -5.0 -5.0 -5.0  31.00  61.000000  -5.0  -5.0
div  inf  inf -5.0  -2.75  -3.166667  -5.0  -5.0

- Dataframe + DataFrame 연산 수행: 동일 위치의 원소끼리 연산 수행

In [49]:
df2 = df * 10
df2

        0     1     2      3           4     5     6
add  50.0  70.0  20.0  130.0  170.000000  80.0  90.0
sub  50.0  70.0 -20.0   50.0   50.000000 -80.0 -90.0
mul   0.0   0.0   0.0  360.0  660.000000   0.0   0.0
div   inf   inf   0.0   22.5   18.333333   0.0   0.0

In [50]:
print(df+df2, df*df2, sep= '\n\n')

        0     1     2       3           4     5     6
add  55.0  77.0  22.0  143.00  187.000000  88.0  99.0
sub  55.0  77.0 -22.0   55.00   55.000000 -88.0 -99.0
mul   0.0   0.0   0.0  396.00  726.000000   0.0   0.0
div   inf   inf   0.0   24.75   20.166667   0.0   0.0

         0      1     2          3             4      5      6
add  250.0  490.0  40.0   1690.000   2890.000000  640.0  810.0
sub  250.0  490.0  40.0    250.000    250.000000  640.0  810.0
mul    0.0    0.0   0.0  12960.000  43560.000000    0.0    0.0
div    inf    inf   0.0     50.625     33.611111    0.0    0.0

In [51]:
df.index, df.columns

(Index(['add', 'sub', 'mul', 'div'], dtype='object'),
 Index([0, 1, 2, 3, 4, 5, 6], dtype='int64'))

In [52]:
df2.index, df2.columns

(Index(['add', 'sub', 'mul', 'div'], dtype='object'),
 Index([0, 1, 2, 3, 4, 5, 6], dtype='int64'))

In [53]:
df2.index=['add','minus','multiply', 'divide']

In [54]:
print(df+df2, df*df2, sep= '\n\n')

             0     1     2      3      4     5     6
add       55.0  77.0  22.0  143.0  187.0  88.0  99.0
div        NaN   NaN   NaN    NaN    NaN   NaN   NaN
divide     NaN   NaN   NaN    NaN    NaN   NaN   NaN
minus      NaN   NaN   NaN    NaN    NaN   NaN   NaN
mul        NaN   NaN   NaN    NaN    NaN   NaN   NaN
multiply   NaN   NaN   NaN    NaN    NaN   NaN   NaN
sub        NaN   NaN   NaN    NaN    NaN   NaN   NaN

              0      1     2       3       4      5      6
add       250.0  490.0  40.0  1690.0  2890.0  640.0  810.0
div         NaN    NaN   NaN     NaN     NaN    NaN    NaN
divide      NaN    NaN   NaN     NaN     NaN    NaN    NaN
minus       NaN    NaN   NaN     NaN     NaN    NaN    NaN
mul         NaN    NaN   NaN     NaN     NaN    NaN    NaN
multiply    NaN    NaN   NaN     NaN     NaN    NaN    NaN
sub         NaN    NaN   NaN     NaN     NaN    NaN    NaN

- 연산 수행 메서드 활용: 결측치(NaN, 빈칸)에 대한 처리 수행 가능
   * fill_value parameter에 값 지정

In [56]:
df.add(df2,fill_value=0)

             0     1     2       3           4     5     6
add       55.0  77.0  22.0  143.00  187.000000  88.0  99.0
div        inf   inf   0.0    2.25    1.833333   0.0   0.0
divide     inf   inf   0.0   22.50   18.333333   0.0   0.0
minus     50.0  70.0 -20.0   50.00   50.000000 -80.0 -90.0
mul        0.0   0.0   0.0   36.00   66.000000   0.0   0.0
multiply   0.0   0.0   0.0  360.00  660.000000   0.0   0.0
sub        5.0   7.0  -2.0    5.00    5.000000  -8.0  -9.0