In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [3]:
adult_number= pd.read_csv('../DATA/성인_사이버폭력_목격_경험_유형_수_20240119171016.csv', header = 2)
adult_situation = pd.read_csv('../DATA/성인_사이버폭력_목격_경험_여부_및_목격_상황_20240119171111.csv')
adult_multiplereply = pd.read_csv('../DATA/성인_사이버폭력_목격_경험_복수응답__20240119171036.csv')

student_number = pd.read_csv('../DATA/학생_사이버폭력_목격_경험_유형_수_20240119171445.csv')
student_situation = pd.read_csv('../DATA/학생_사이버폭력_목격_여부_및_목격_상황_20240119171208.csv')
student_experience = pd.read_csv('../DATA/학생_사이버폭력_목격_경험_20240119171311.csv')

In [4]:
adult_number.info()
adult_situation.info()
adult_multiplereply.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   전체      51 non-null     object
 1   소계      51 non-null     object
 2   67.20   51 non-null     float64
 3   29.60   51 non-null     float64
 4   2.70    51 non-null     float64
 5   0.50    51 non-null     float64
 6   1.49    51 non-null     float64
dtypes: float64(5), object(2)
memory usage: 2.9+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54 entries, 0 to 53
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   특성별(1)  54 non-null     object
 1   특성별(2)  54 non-null     object
 2   2022    54 non-null     object
 3   2022.1  54 non-null     object
 4   2022.2  54 non-null     object
 5   2022.3  54 non-null     object
 6   2022.4  54 non-null     object
dtypes: object(7)
memory usage: 3.1+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53 entries, 0 to 52
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   특성별(1)  53 non-null     object
 1   특성별(2)  53 non-null     object
 2   2022    53 non-null     object
 3   2022.1  53 non-null     object
 4   2022.2  53 non-null     object
 5   2022.3  53 non-null     object
 6   2022.4  53 non-null     object
 7   2022.5  53 non-null     object
 8   2022.6  53 non-null     object
 9   2022.7  53 non-null     object
dtypes: object(10)
memory usage: 4.3+ KB

In [5]:
adult_number = adult_number.iloc[44:48]
adult_situation = adult_situation.iloc[44:48]

In [6]:
#안 쓸 데이터 날리기
adult_number.drop(index=adult_number.index[39:44])

           전체        소계  67.20  29.60  2.70  0.50  1.49
44  인터넷 이용시간별    1시간 미만   66.9   27.2   5.9   0.0  1.56
45  인터넷 이용시간별  1~2시간 미만   57.8   41.0   0.0   1.2  1.51
46  인터넷 이용시간별  2~3시간 미만   70.4   26.4   3.2   0.0  1.41
47  인터넷 이용시간별  3~5시간 미만   57.5   37.3   3.8   1.3  1.71

In [7]:
#데이터 object -> float